.users-container {
  width: calc(100% - 70px);
  padding: 20px;
  background-color: var(--section-transparent-color);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

/* Tabs Header */
.users-container .tabs-header {
  display: flex;
  margin-top: 20px;
}

.users-container .tab-button {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-bottom: none;
  background-color: var(--section-color);
  color: var(--font-color);
  font-weight: bold;
  outline: none;
  transition: background-color 0.3s;
  margin-right: 4px;
  border-radius: 4px 4px 0 0;
}
.users-container .tab-button:first-child {
  margin-right: 0px;
}
.users-container .tab-button:not(.active):hover {
  background-color: var(--body-color);
  color: var(--font-color);
}

/* Active Tab */
.users-container .tab-button.active {
  background-color: var(--body-color);
  color: var(--font-color);
  border: 0px solid var(--section-color);
}

/* Tabs Content */
.users-container .tabs-content {
  padding: 20px;
  background-color: var(--body-color);
  border: 1px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 8px 8px;
}
.users-container .file-manager {
  padding: 0px;
  border: none;
}

.users-container .tab-content {
  margin-top: 10px;
}
/*ADD USER CSS STARTS HERE*/
.add-user-form form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.add-user-form {
  margin: 20px auto;
  padding: 30px;
  /* background-color: #1c1c1c; */
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.add-user-form h2 {
  text-align: left;
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 27px;
}

/* Form fields */
.add-user-form .form-group-user {
  text-align: left;
}
/*select css*/
.add-user-form .two-divs {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  flex-wrap: wrap;
}
.add-user-form .two-divs div {
  width: 100%;
  flex: 1 1;
  min-width: 300px;
}
.add-user-form .two-divs .inp {
  border: none;
  padding: 10px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--font-color);
  width: 100%;
  position: relative;
  background: var(--section-color);
}
.add-user-form .two-divs .inp input {
  position: relative;
}
.add-user-form .two-divs .inp input::before {
  position: absolute;
  content: "\f078";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  right: 10px;
  top: 50%;
  font-size: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.add-user-form .selecte {
  position: relative;
}
.add-user-form .selecte .inp {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  padding-right: 20px;
}
body.arabic .add-user-form .selecte .inp {
  padding-right: 0px;
  padding-left: 20px;
  text-align: right;
}
.add-user-form .selecte .inp::before {
  position: absolute;
  content: "\f078";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  right: 10px;
  top: 50%;
  font-size: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
body.arabic .add-user-form .selecte .inp::before {
  right: auto;
  left: 10px;
}

.add-user-form .selecte > article {
  background-color: var(--body-color);
  box-shadow: var(--box-shadow);
  position: absolute;
  width: 100%;
  padding: 10px 15px;
  top: 140%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  max-height: 300px;
  overflow-y: auto;
}
.add-user-form .selecte .inp.active + article {
  transition: opacity 0.4s;
  opacity: 1;
  z-index: 2;
  pointer-events: all;
  top: 90%;
}

.add-user-form .selected-value {
  gap: 5px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.add-user-form .selected-value span {
  background-color: var(--section-color);
  padding: 5px 10px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  color: var(--font-color);
}

.add-user-form .selected-value span:hover {
  color: white;
  background-color: var(--main-color);
}

.add-user-form .selecte > article h2 {
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;

  text-align: left;
}
body.arabic .add-user-form .selecte > article h2 {
  text-align: right;
}

.add-user-form .selecte > article:hover h2 {
  opacity: 0.5;
}
.add-user-form .selecte > article h2:hover {
  opacity: 1;
}

/*select css*/
.add-user-form label {
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--font-color);
}
body.arabic .add-user-form label {
  text-align: right;
}

.add-user-form input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
  font-size: 16px;
  background-color: var(--section-color);
  color: var(--font-color);
}

.add-user-form input[type="text"]:focus,
.add-user-form input[type="email"]:focus {
  outline: none;
  border-color: #4caf50;
}

/* Checkbox group */
.add-user-form .checkbox-group {
  display: flex;
  flex-wrap: nowrap;
}

.add-user-form .checkbox-item {
  width: 100%;
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.add-user-form .checkbox-item input {
  margin-right: 10px;
  width: auto;
}

.add-user-form .checkbox-item label {
  color: #d1d1d1;
  font-size: 18px;
  flex: 1;
  width: 100%;
  line-height: 1;
  margin-bottom: 0px;
  margin-left: 10px;
}

/* Submit button */
.add-user-form .submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s;
  background-color: #0e6e11;
}
.width-100 {
  width: 100%;
}
.add-user-form .submit-btn:hover {
  background-color: #1e4a20;
}
/*ADD USER CSS ENDS HERE*/
@media (max-width: 900px) {
  .users-container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .users-container {
    padding: 20px 5px;
  }
  .users-container .tab-button {
    padding: 9px 10px;
    font-size: 14px;
  }
}

.tab-button {
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  color: #555;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.tab-button.active {
  font-weight: bold;
  color: #007bff; /* Highlight active tab */
  border-bottom: 2px solid #007bff;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
