@font-face {
  font-family: "Afacad Flux";
  src: url("./assets/fonts/Afacad_Flux/AfacadFlux-VariableFont_slnt\,wght.ttf")
      format("woff2"),
    url("./assets/fonts/Afacad_Flux/AfacadFlux-VariableFont_slnt\,wght.ttf")
      format("woff"),
    url("./assets/fonts/Afacad_Flux/AfacadFlux-VariableFont_slnt\,wght.ttf")
      format("truetype");
  font-weight: 100 1000;
}

* {
  font-family: "Afacad Flux", sans-serif;
  transition: 0.4s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  --body-color: #fff;
  --main-color: #24605f;
  /* --main-color: #334b7c; */
  --border-color: #e6e3e3;
  --aside-color: #e7e9eb;
  --section-color: #f0f1f3;
  --section-transparent-color: #e7e9eb54;
  --font-color: #000;
  --box-shadow: 0 0 16px #bababa85;
  background-color: var(--section-color);
  overflow-x: hidden;
}
body.dark {
  --border-color: #242424;
  --body-color: #121212;
  --section-color: #1e1e1e;
  --section-transparent-color: #181a1e3b;
  --aside-color: #222223;
  --font-color: #ccc;
  --box-shadow: 0 0 16px #060606;
}

body.arabic {
  direction: rtl;
}
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--section-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--font-color);
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 100;
  flex-direction: row-reverse;
}

.file-item svg {
  color: #e3b826;
}
.statusSection {
  display: flex;
  gap: 20px;
}

.statusItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.statusText {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.statusNumber {
  font-size: 14px;
  font-weight: normal;
  color: #1d1818;
}

.profileSection {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* App.css */
.login-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--section-transparent-color);
  text-align: center;
  color: var(--font-color);
  z-index: 1;
  backdrop-filter: blur(10px);
}
.profile-log {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}
.profile-log .icon-background {
  align-items: center;
  background: var(--main-color);
  border-radius: 50%;
  display: flex;
  height: 145px;
  justify-content: center;
  width: 145px;
}
.profile-log .icon-background i {
  color: #fff;
  font-size: 80px;
}

.login-container h2 {
  margin-bottom: 0px !important;
  font-size: 24px;
  color: var(--font-color);
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}
.group-form {
  margin-bottom: 5px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--font-color);
}
body.arabic .form-group label {
  text-align: right;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}
/* App.css */

.dashboard-container {
  display: flex;
}
.main-content-2 {
  width: 100%;
  background-color: transparent;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
  transition: margin-left 0.3s ease;
  margin: 50px 0px 0px 0px;
  display: flex;
  z-index: 1;
  justify-content: flex-end;
}
.devices {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn {
  padding: 10px;
  width: fit-content;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--main-color);
  color: white;
  border: none;
}
.devices h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.card {
  background-color: #444;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.card p {
  margin: 0;
  font-size: 1em;
  color: #ccc;
}

.main-container {
  height: 100%;
  width: calc(100% - 100px);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: flex-end;
}
.pad-40 {
  padding: 40px 5%;
}
.pad-30 {
  padding: 30px;
}

.flex {
  display: flex;
}
.center {
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
.column {
  flex-direction: column;
}

/*lang div css*/
.relative {
  position: relative;
}
.active-div {
  opacity: 1 !important;
  pointer-events: all !important;
  z-index: 1 !important;
}
.lang {
  cursor: pointer;
  color: var(--font-color);
}
.active-icon{
  color: var(--main-color);
}
.rotate-90{
  transform: rotate(-90deg);

}
.lang i {
  font-size: 16px;
  width: 40px;
  height: 40px;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  background: var(--section-color);
  align-items: center;
}

.lang + div.languages {
  position: absolute;
  width: 110px;
  background: var(--body-color);
  bottom: -130px;
  box-shadow: var(--box-shadow);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.lang + div.languages h2 {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 15px;
  opacity: 0.6;
  color: var(--font-color);
  margin: 0;
  transition: 0.4s;
}
.lang + div.languages h2:hover {
  opacity: 1;
  scale: 1.1;
}
.lang + div.languages h2.active {
  scale: 1.1;
  opacity: 1;
  font-weight: bold;
}
.lang + div.languages.active-div {
  bottom: -105px;
}
/*lang div css*/
/*toggle css*/
:root {
  --hue: 223;
  --primary: #5e9cc4;
  --trans-dur: 0.6s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
}
.toggle {
  gap: 10px;
}
.switch,
.switch__input {
  font-size: 20px;
  display: block;
  -webkit-tap-highlight-color: transparent;
}
.switch {
  margin: auto;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.switch__icon {
  color: hsla(var(--hue), 10%, 80%);
  pointer-events: none;
  position: absolute;
  top: 0.375em;
  left: 0.375em;
  width: 0.75em;
  height: 0.75em;
  transition: color var(--trans-dur),
    transform var(--trans-dur) var(--trans-timing);
}
.switch__icon:nth-of-type(2) {
  right: 0.375em;
  left: auto;
}
.switch__inner,
.switch__inner-icons {
  border-radius: 0.5em;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  width: 2.25em;
  height: 1em;
}
.switch__inner:before,
.switch__inner-icons {
  transition: transform var(--trans-dur) var(--trans-timing);
  transform: translateX(-1.25em);
}
.switch__inner:before {
  background-color: var(--primary);
  border-radius: inherit;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.switch__inner-icons {
  pointer-events: none;
}
.switch__inner-icons .switch__icon {
  color: hsl(0, 0%, 100%);
  top: 0.125em;
  left: 0.125em;
  transform: translateX(1.25em);
}
.switch__inner-icons .switch__icon:nth-child(2) {
  right: 0.125em;
  left: auto;
}
.switch__input {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.0625em hsla(var(--hue), 90%, 50%, 0),
    0 0.125em 0.5em hsla(var(--hue), 10%, 10%, 0.1);
  outline: transparent;
  width: 2.75em;
  height: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  transition: background-color var(--trans-dur), box-shadow var(--trans-dur);
}
.switch__input:checked {
  background-color: hsl(var(--hue), 10%, 10%);
}
.switch__input:checked ~ .switch__icon {
  color: hsla(var(--hue), 10%, 40%);
}
.switch__input:checked ~ .switch__inner:before,
.switch__input:checked ~ .switch__inner-icons {
  transform: translateX(1.25em);
}
.switch__input:not(:checked) ~ .switch__icon:first-of-type,
.switch__input:checked ~ .switch__icon:nth-of-type(2) {
  transform: rotate(360deg);
}
.switch__input:checked ~ .switch__inner-icons .switch__icon:first-of-type {
  transform: translateX(-1.25em) rotate(-360deg);
}
.switch__input:checked ~ .switch__inner-icons .switch__icon:nth-of-type(2) {
  transform: translateX(-1.25em) rotate(360deg);
}
.switch__input:focus-visible {
  box-shadow: 0 0 0 0.0625em hsla(var(--hue), 90%, 50%, 1),
    0 0.125em 0.5em hsla(var(--hue), 10%, 10%, 0.1);
}
.switch__sr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar {
  background-color: #6d6c6c;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #bab8b8;
  border-radius: 10px;
}
/*file manager*/
.file-explorer {
  background-color: var(--body-color) !important;
}
.file-explorer .files-container div {
  background-color: var(--body-color) !important;
  color: var(--font-color) !important ;
  border-color: var(border-color) !important;
}
.toolbar .fm-toolbar {
  background-color: var(--section-color) !important;
  color: var(--font-color) !important;
}
.toolbar {
  border-bottom: 1px solid var(--border-color) !important;
}
.toolbar .item-action {
  background-color: var(--body-color) !important;
  color: var(--font-color);
}
.file-item-container .file-item svg {
  color: #ffd14f !important;
}
